/**
 * configure
 */


@distincionpp_conf_content_body_width: 100%;

@distincionpp_conf_content_header_width: @distincionpp_conf_content_body_width;

@distincionpp_conf_content_width: @distincionpp_conf_content_body_width;
@distincionpp_conf_content_inner_width: 80%;
@distincionpp_conf_font_family: "Noto Sans", "Noto Sans CJK SC", "Noto Sans S Chinese", "DejaVu Sans", "Microsoft YaHei", "YaHei Consolas Hybrid", "WenQuanYi Micro Hei", Arial, Verdana, "BitStream vera Sans", Sans-serif;
@distincionpp_conf_font_family_code: "Noto Mono", "DejaVu Sans Mono", "Noto Sans Mono CJK SC", "YaHei Consolas Hybrid", "Source Code Pro", "Microsoft YaHei", "Consolas", serif;
@distincionpp_conf_font_family_header: "Noto Sans", "Noto Sans CJK SC", "Noto Sans S Chinese", "Microsoft YaHei", "YaHei Consolas Hybrid", "WenQuanYi Micro Hei", "DejaVu Sans", Helvetica,arial,freesans,clean,sans-serif;
