/**
 * configure
 */

@distincionpp_conf_content_body_width: 100%;

@distincionpp_conf_content_header_width: @distincionpp_conf_content_body_width;

@distincionpp_conf_content_width: @distincionpp_conf_content_body_width;
@distincionpp_conf_content_inner_width: 80%;
@distincionpp_conf_font_family: Arial, 'Microsoft YaHei', Verdana, "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;

