/** Layout - common **/
@import "../common.less";

#container {
    float: left;
    margin: 0 -270px 0 0;
    width: @distincionpp_conf_content_width;
}
#content {
    margin: 0 280px 0 20px;
}
#footer {
    clear: both;
    width: @distincionpp_conf_content_width;
}
