@import "../common.less";

body {
    line-height: 145%;
    background: #a8a7a7 url(images/body-bg.jpg) repeat !important;
    min-width: 936px;
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */

#main {
    margin: 0 auto;
    width: @distincionpp_conf_content_width;
}

#colophon {
    margin: 0 auto;
    width: @distincionpp_conf_content_width;
}
#wrapper {
    clear: both;
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
}

/* Structure the footer area */
#footer-widget-area {
    overflow: hidden;
}
#footer-widget-area .widget-area {
    float: left;
    margin-right: 20px;
    width: 220px;
}
#footer-widget-area #fourth {
    margin-right: 0;
}
#site-info {
    float: left;
    font-size: 12px;
    margin-left: 20px;
    width: 550px;
}
#site-generator {
    float: right;
    margin-right: 20px;
    width: 320px;
    text-align:right;
}
.page-title {
    font-family: @distincionpp_conf_font_family;
    font-size: 40px;
    margin: 0 0 0 40px;
}
.page-title span{
    text-transform:capitalize;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}

/* Text elements */
blockquote {
    font-style: italic;
    min-height: 50px;
    padding: 0 75px 0 100px;
}
blockquote blockquote{
    padding: 0 0 0 100px;
}
blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}
q::before {
	content: '"';
}
q::after {
	content: '"';
}
a:link {
    color: #09f;
}
a:visited {
    color: #09f;
}
a:active,
a:hover {
    color: #F33;
}

/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}


/** content style **/
h1.page-title {
    font-weight: bolder;
}

.entry h1 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #400040;
    font-weight: bolder;
    font-size: 36px;
}

.entry h2 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #600060;
    font-weight: bolder;
    font-size: 28px;
}

.entry h3 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #600060;
    font-weight: normal;
    font-size: 24px;
}

.entry h4 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #800080;
    font-weight: normal;
    font-size: 24px;
}

.entry h5 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #002020;
    font-weight: bolder;
    font-size: 24px;
}

.entry h6 {
    font-family: 'Microsoft YaHei', Helvetica,arial,freesans,clean,sans-serif;
    color: #004040;
    font-weight: bolder;
    font-size: 20px;
}

.entry ol, .entry ul {
    font-family: comic sans ms;
    font-weight: bolder;
    font-size: 20px;
}

.entry li ol, .entry li ul {
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    font-size: 18px;
    color: #696969;
}
