@import "../common.less";

@import "../bootstrap-src/less/variables.less";
@import "../bootstrap-src/less/mixins.less";
@import "../bootstrap-src/less/tables.less";

body {
    line-height: 145%;
    background: #a8a7a7 url(images/body-bg.jpg) repeat !important;
    min-width: 936px;
    font-size: 1.6em;
}

img {
    max-width: 100%;
}

strong {
   color: darkgreen;
}

pre, code {
    font-family: @distincionpp_conf_font_family_code;
}

/* ------------------------ copy from bootstrap ------------------------ */
table {
    .table;
    .table-bordered;
    .table-striped;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#main {
    margin: 0 auto;
    width: @distincionpp_conf_content_width;
}

#colophon {
    margin: 0 auto;
    width: @distincionpp_conf_content_width;
}
#wrapper {
    clear: both;
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
}

/* Structure the footer area */
#footer-widget-area {
    overflow: hidden;
}
#footer-widget-area .widget-area {
    float: left;
    margin-right: 20px;
    width: 220px;
}
#footer-widget-area #fourth {
    margin-right: 0;
}
#site-info {
    float: left;
    font-size: 12px;
    margin-left: 20px;
    width: 550px;
}
#site-generator {
    float: right;
    margin-right: 20px;
    width: 320px;
    text-align:right;
}
.page-title {
    font-family: @distincionpp_conf_font_family;
    font-size: 40px;
    margin: 0 0 0 40px;
}
.page-title span{
    text-transform:capitalize;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}

/* Text elements */
blockquote {
    min-height: 50px;
    padding: 0 75px 0 100px;
    border-left: solid 3px Gray;
    font-size: 1em;
    background-color: #E0E0E0;
}
blockquote blockquote{
    padding: 0 0 0 100px;
}
blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}
q::before {
	content: '"';
}
q::after {
	content: '"';
}
a:link {
    color: #09f;
}
a:visited {
    color: #09f;
}
a:active,
a:hover {
    color: #F33;
}

/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}


/** content style **/
h1.page-title {
    font-weight: bolder;
}

.entry h1 {
    font-family: @distincionpp_conf_font_family_header;
    color: #400040;
    font-weight: bolder;
    font-size: 2.4em;
}

.entry h2 {
    font-family: @distincionpp_conf_font_family_header;
    color: #600060;
    font-weight: bolder;
    font-size: 2.0em;
}

.entry h3 {
    font-family: @distincionpp_conf_font_family_header;
    color: #600060;
    font-weight: normal;
    font-size: 1.8em;
}

.entry h4 {
    font-family: @distincionpp_conf_font_family_header;
    color: #800080;
    font-weight: normal;
    font-size: 1.6em;
}

.entry h5 {
    font-family: @distincionpp_conf_font_family_header;
    color: #002020;
    font-weight: bolder;
    font-size: 1.6em;
}

.entry h6 {
    font-family: @distincionpp_conf_font_family_header;
    color: #004040;
    font-weight: bolder;
    font-size: 1.4em;
}

.entry li ol, .entry li ul {
    font-size: 0.9em;
    color: #696969;
}
